.resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: rgba(0, 0, 0, 0.5);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  opacity: 0;
  transition: opacity 0.3s;
}

th:hover .resizer {
  opacity: 1;
}

.resizer.isResizing {
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;
}